body {
  font-family: 'Segoe UI', sans-serif;
  margin: 0;
  padding: 0;
  background: #f9f9f9;
  color: #333;
}

.header {
  /* background: #1e1e2f;
  color: white;
    display: flex;
  align-items: center;
   justify-content: space-between;
  padding: 1rem;
  position: relative;
*/
background: #1e1e2f;
  color: white;
  padding: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}
.header, h1{
    color: #fff;
    font-size: 1.5rem;
    

}
.header ,.span3{
    color: orange;
    font-size: 1.5rem;
    
}

/* Navigation */
.nav {
  display: flex;
  gap: 1rem;
  margin-top: 10px;
  flex-wrap: wrap;
}

.nav a {
  color: white;
  text-decoration: none;
  font-weight: bold;
  position: relative;
  font-size: 1rem;
}

.nav a::after {
  content: '';
  position: absolute;
  width: 0;
  height: 2px;
  bottom: -2px;
  left: 0;
  background-color: orange;
  transition: width 0.3s;
}

.nav a:hover::after {
  width: 100%;
}

/* Hamburger Toggle */
.nav-toggle {
  display: none;
  flex-direction: column;
  gap: 5px;
  cursor: pointer;
}

.nav-toggle div {
  width: 25px;
  height: 3px;
  background: white;
}

/* main  */
.h11{
  color: black;
  text-align: center;
  font-size: 2rem;
  padding: 15px;
  font-weight:bold;
  font-family:'Times New Roman', serif;
  animation: fadeIn 1.3s ease-in-out;

}

.album-section{
  text-align: center;
  padding: 40px 20px;
}

.album{
  position: relative;
  display: flex;
  display: inline-block;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin: 20px;
  cursor: pointer;
  animation: fadeIn 1.3s ease-in-out;

  
  
}

.album,.img{
  width: 100px;
  height: 100px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0,0,0,0.2);
  transition: 0.2s;
  gap: 10px;
  
}
.album .img:hover{
  transform: scale(1.2s);
}

.songs{
  margin-top: 6px;
  display: none;

}

.songs audio{
  display: block;
  margin: 2px auto;
  width: 100px;

}
  
.songs p{
  color: black;
}

/* Footer */

footer {
    background: #1e1e2f;
    color: #fff;
    padding: 40px 5% 20px;
    margin-top: 100px;
}

.footer-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}



.footer-logo, .h3{
    font-size: 24px;
    margin-bottom: 10px;
}

.footer-logo ,.span2 {
    color: orange;
}

.footer-logo, p {
    max-width: 300px;
    font-size: 14px;
    line-height: 1.5;
    color: white;
}

.footer-links,
.footer-contact {
    min-width: 200px;
}

.footer-links h3,
.footer-contact h3 {
  margin-bottom: 10px;
  font-size: 1.2rem;
  color:white;
  font-weight: bold;

}

.footer-links,ul {
    list-style: none;
    padding: 0;
}

.footer-links, ul, li {
    margin-bottom: 8px;
}

.footer-links ul, li ,a {
    color: #fff;
    text-decoration: none;
    font-size: 14px;
    transition: color 0.3s;
}

.footer-links ,ul, li ,a:hover {
    color: #fff;
}

.footer-contact ,p {
    font-size: 14px;
    margin-bottom: 8px;
}

.footer-bottom {
    text-align: center;
    border-top: 1px solid #333;
    padding-top: 15px;
    margin-top: 20px;
    font-size: 13px;
  color:#aaa;
}

@keyframes fadeIn{
    from{
        opacity: 0;
        transform: translateY(40px);
    }
     to{
        opacity: 1;
        transform: translateY(0);
    }
}

@media screen and (max-width:786px)
{
  .nav {
    display: none;
    flex-direction: column;
    width: 100%;
  }

  .nav.active {
    display: flex;
  }

  .nav-toggle {
    display: flex;
  }

  .header {
    align-items: flex-start;
  }
    
    
    
    
    .header h1{
        font-size: 1.5rem;
    }
  
    .footer-container {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .footer-logo,
  .footer-links,
  .footer-contact {
    margin-bottom: 1rem;
  }
}    
